.media-preview{
    max-width: 120px;
    max-height: 120px;
    margin: 10px;
    border: 2px solid white;

}

.file-name-display{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.image-holder:hover{
    cursor: pointer;
    .media-preview{
        border: 1px solid#F3F3F3;
        cursor: pointer;
    }
    .file-name-display{
        white-space: nowrap;
        overflow: visible;
    }
}

.files-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.files-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.folder-section{
    border: 1px solid #BCBEC0;
    border-top: none;
    background: #FFFFFF;
    margin-right: 5px;
    .folder-item{
        padding-left: 5px;

        .folder-item-row{
            display: flex;
            justify-content: space-between;
            &.is-active{
                background: #E2E2E2;
                margin-left: -5px;
                padding-left: 5px;
            }

            .folder-name{
                font-size: 16px;
                flex-basis: 90%;
                padding-top: 3px;
                padding-bottom: 3px;
            }

            .folder-remove-icon{
                flex-basis: 10%;
                padding: 0px 3px;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
    .folder-item.add-new{
        border-bottom: 1px solid #BCBEC0;
        &:hover{
            cursor: pointer;
            background-color: #F3F3F3;
        }
    }
}

.folder-add-form{
    .input-fields{
        .folder-add-input{
            margin-bottom: 15px;
            width: 100%;
        }
    }
    .form-buttons{
        padding: 10px 0px;
        display: flex;
        justify-content: flex-end;
        :first-child{
            margin-right: 15px;
        }

        .form-button{
            background: #FFFFFF;
            border-radius: 4px;
            padding: 5px 12px;
            &:hover{
                background: #F3F3F3;
            }
        }
    }
}
