.media-preview{
    max-width: 120px;
    max-height: 120px;
    margin: 10px;
    border: 2px solid white;

}

.file-name-display{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-holder:hover{
    cursor: pointer;
    .media-preview{
        border: 1px solid#F3F3F3;
        cursor: pointer;
    }
    .file-name-display{
        white-space: nowrap;
        overflow: visible;
    }
}

.files-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.files-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.folder-section{
    border: 1px solid #333333;
    border-top: none;
    background: #FFFFFF;
    margin-right: 5px;
    .folder-item{
        padding-left: 5px;
    }
    .folder-item.add-new{
        border-bottom: 1px solid #333333;
        &:hover{
            cursor: pointer;
            background-color: #F3F3F3;
        }
    }
}
