@tailwind base;

/* Readd some base styles, but scope them. */
.spillover-media-library *,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

.spillover-media-library {
  font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

.spillover-media-library ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

@tailwind components;
@tailwind utilities;
